body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.testimonial-container {
    width: 500px;
    height: 100px;
    min-width: 400px;
    background-color: #6a5acd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    padding: 70px 20px;
    margin: 5px;
    position: relative;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

h4 {
    font-size: 15px;
    font-weight: 100;
}