body {
    margin: 0;
    height: 100vh;
    background-color: #fa8072;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.container {
    width: 400px;
    background-color: #ffb6c1;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h1 {
    font-size: 24px;
    /* font-weight: 600; */
}

.text {
    /* resize: none; */
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
}

.text::placeholder {
    padding: 10px;
    font-size: 18px;
}

.counts {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.counts p {
    font-size: 18px;
    color: rgb(116, 115, 115);
}

.total-counter {
    color: slateblue;
}

.remaining-counter {
    color: orangered;
}