body {
    margin: 0;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #ffffff;
}

.heading {
    font-size: 35px;
    font-family:sans-serif;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input[type="date"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid rgb(161, 160, 160);
}

.text {
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;
}
button[type="submit"] {
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #096bd3;
}