* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F1F5F8;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


figure {
    width: 750px;
    height: 400px;
    padding: 30px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 6px 22px;
    cursor: pointer;
    background-color: #d8dadc;
}