body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.container {
    width: 400px;
    text-align: center;
    position: relative;
}

.counter {
    font-size: 35px;
}

.loading-bar-back {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    background-color: gray;
    border: none;
}

.loading-bar-front {
    position: absolute;
    height: 8px;
    width: 0%;
    background-color: orangered;
    border-radius: 5px;
    border: none;
}