* {
    margin: 0; 
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: relative;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 1px solid green; */
    overflow: hidden;
    border: 4px solid rgb(210, 210, 243);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading {
    color: #8b5cf6;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 100;
    padding-top: 10px;
}

.job-title {
    font-size: 18px;
}
.description {
    text-align: center;
    font-size: 17px;
    color: lightslategray;
    margin-top: 10px; 
    font-weight: 100;
}

.fa-quote-right {
    font-size: 3.5rem;
    color: #8b5cf6;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #6b7280;
    color: #fff;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.arrow.left {
    left: -4rem;
}

.arrow.right {
    right: -4rem;
}

.arrow:hover {
    background: #6366f1;
}

.arrow:focus-visible {
    outline: 3px solid #6366f1;
}