body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

h1 {
    text-align: center;
}
.color-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}