* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 50px;
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dddddd;
}

.number, .decimal {
    background-color: #FFFFFF;
    color: #333;
}

.clear {
    background-color: #ff4136;
}

.operator {
    background-color: #0074D9;
    
}

.clear, .operator, .equals {
    color: white;
}

.equals {
    background-color: #01ff70
}