body {
    background-color: #212321;
    color: whitesmoke;
}
.container {
    width: 100%;
    height: 50vh;
    /* background-color: lightgoldenrodyellow; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h1 {
    text-align: center;
}

.card {
    /* border: 1px solid red; */
    background-color: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 10px;

}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.buttons {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    padding: 5px 20px;
    cursor: pointer;
    /* border: none; */
    background-color: gainsboro;
}