body {
    margin:0;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
    margin: 10px;
    position: relative;
    transition: width 1.5s;
}

#search-icon {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
} 

.mic-icon {
    width: 30px;
    position: absolute;
    right: 10px;
    transition: width 0.4s;
    transition-delay: 1s;
}

.search-input {
    border: none;
    background-color: transparent;
    margin: 10px 50px;
    width: 100%;
    outline: none;
    color: rgb(100, 100, 100);
    transition: width 1s;
    transition-delay: 0.5s;
}

.active.search-container {
    width: 50px;
}

.active .search-input  {
    width: 0;
}

.active .mic-icon  {
    width: 0;
} 





