body {
    margin: 0;
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(250, 247, 247);
    padding: 10px;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.fa-star {
    color: rgb(194, 193, 193);
    font-size: 2.2rem;
}

.fa-star.active {
    color: #ffd700;
}

.emojis {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.emojis i {
    font-size: 48px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from { 
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.emoji-red {
    color: red;
}

.emoji-orange {
    color: orange;
}

.emoji-blue {
    color: lightskyblue;
}

.emoji-green {
    color: lightgreen;
}

.emoji-darkgreen {
    color: darkgreen;
}