* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #B6B09F;
}

#app {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    /* border: 1px solid red; */
}

.card {
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination {
    width: 500px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}


#prev, #next {
    padding: 8px 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #EAE4D5;
    border: none;
}


#pageNumbers {
    /* border: 1px solid hotpink; */
    /* border: 1px solid gold; */
    display: flex;
    gap: 10px;
    
}

.btns {
    /* width: 60px; */
    /* height: 40px; */
    padding: 8px 20px;
    /* border: 1px solid aqua; */
    background-color: #EAE4D5;
    color: black;
    border-radius: 7px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}

.active {
    background-color: #948979;
    color: white;
}