* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    height: 350px;
    /* border: 1px solid red; */
    background-color: whitesmoke;
    display: flex;
    gap: 20px;
    padding: 30px;
}

picture {
    flex: 1;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    /* border: 1px solid blue; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content h1 {
    text-transform: uppercase;
    color: #a28b93;
    font-size: 2rem;
}

.content p:nth-child(2) {
    font-weight: 600;
}

.content p {
    font-size: 1rem;
}

.countdown {
    /* height: 100px;       */
    display: flex;
    gap: 15px;
    /* background-color: hotpink; */
}

.days, .hours, .minutes, .seconds {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: #cfb3bd;
}

strong {
    text-transform: uppercase;
}