body {
    margin: 0;
    height: 100vh;
    background-color: #e0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
}

.feedback-container {
    width: 450px;
    /* height: 400px; */
    background-color: #e4fafa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
}

h1 {
    font-size: 30px;
    color: rgb(3, 87, 3);
}

.rating-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 120px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}
.rating.active {
    background-color: #8fbc8f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rating:hover {
    background-color: #8fbc8f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    

}
img {
    width: 40px;
}

small {
    font-size: 18px;
    color: rgb(3, 87, 3);
}

.btn {
    padding: 12px 30px;
    background-color: #019e9e;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.2s;
}

.btn:hover {
    background-color:  #017474;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 9px;
}

.feedback {
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    /* padding: 20px; */
    padding: 20px 10px;
    font-size: 19px;
    text-align: center;
    color:rgb(3, 87, 3);
    display: none;
}

.feedback small {
    font-weight: bold;
    font-size: 19px;
}

.feedback-container, .feedback {
    transition: opacity 0.3s ease;
}