.container {
    width: 250px;
    height: 200px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    padding: 10px;
}

#increase, #decrease, #reset {
    padding: 3px 5px;
}

