* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    background-color: rgb(244, 244, 228);
}

#products-container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    max-width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    color: #1f1f1f;
    font-size: 1.3rem;
}

.product-card p {
    font-size: 1rem;
}

.product-card button {
    padding: 8px 14px;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #312727;
    color: whitesmoke;
}

.product-card button:hover {
    background-color: #4a3f3f;
}

#cart-container {
    width: 90%;
    height: 200px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color:#312727;
    padding: 10px;
    margin: 10px;
    color: white;
}

.cart-row span {
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-actions button {
    padding: 2px 14px;
    cursor: pointer;
    background-color: rgb(244, 244, 228);
}

#cart-total {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}