
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(240, 40, 40), rgb(248, 248, 6));
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.dropbtn {
    width: 350px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    background-color: rgba(235, 229, 229, 0.779);
    border: none;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

.fa-solid {
    position: absolute;
    right: 20px;
    transition: 0.1s;
}

.arrow-up {
    transform: rotate(180deg);
}

.dropdown-content{
    /* width: 350px; */
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    background-color:  rgba(235, 229, 229, 0.779);
    margin-top: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.fa-brands {
    padding: 5px;
}
.dropdown-content a {
    text-decoration: none;
    color: #000;
    padding: 15px 10px;
    transition: 0.3s ease; 
    font-size: 1.1rem;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #554f4f1f;
    transform: translateX(10px);
}

.dropdown-content.show-content {
    visibility: visible;
    opacity: 1;
}