* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    padding: 10px;
}

.product-container h1 {
    font-size: 2.2rem;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;  

}

.product-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

figure img {
    width: 500px;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.product-content h2 {
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.9;
}

.product-content p {
    font-size: 1.3rem;
    font-weight: bold;
}

.product-content .addToCart {
    padding: 12px 45px;
    background-color: #F6A202;
    border: none;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

/* cart modal */
.cart-modal {
    background-color: rgb(250, 248, 248);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.cart-modal .total-items {
    font-size: 1.9rem;
    color: rgb(251, 73, 73);
}

.cart-items {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.cart-items h2 {
    font-size: 1.4rem;
}

.cart-items .cart-nos {
    font-size: 1.2rem;
    display: flex;
    gap: 15px;
}
.cart-items .left {
    flex: 1;
}

.cart-items .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.right img {
    width: 30px;
    height: 30px;
}

.cart-nos span {
    color: rgb(105, 104, 104);
    font-weight: 500;
}

.final-total {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.final-total span {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(69, 68, 68);
}

.final-total strong {
    font-size: 1.8rem;
    font-weight: 600;
}