* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-container {
    border: 1px solid orchid;
}

.product-container h1 {
    font-size: 2.2rem;
    padding: 20px;
}

.product-list {
    border: 1px solid chartreuse;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;  

}

.product-card {
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* background-color: #edececf2; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content {
    /* border: 1px solid hotpink; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.product-content h2 {
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.9;
}

.product-content p {
    font-size: 1.3rem;
    font-weight: bold;
}

.product-content .addToCart {
    /* min-width: 50%; */
    padding: 12px 45px;
    background-color: #F6A202;
    border: none;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}